@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* body {
  background-color: #a1bdd0;
  background-color: #18434e;
} */

.main{
  width: 100%;
  height: 100vh;
}

video{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gif{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content{
  position: absolute;
  top: 50vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

/* .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0,0,0,0.4);
} */
